/* ====== public ====== */
.sprite_icon {
  background: url(../images/page_icons.svg) no-repeat;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

/* ====== search ====== */
.search {
  position: relative;
}
.search-text {
  float: left;
  padding: 0 12px;
  border-radius: 2px;
  box-sizing: border-box;
  color: #a9a9a9;
  font-size: 14px;
}
.search-btn {
  float: left;
  position: absolute;
  right: 0;
  top: 0;
}



/* ====== header ====== */
.header {
  position: relative;
  width: 100%;
  height: 560px;
}
.header-bg {
  width: 100%;
  height: 560px;
  background: url(../images/header_bg.png) no-repeat center 0;
  background-attachment: fixed;
}
.header-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 48px;
}
.header-top .container {
  width: 1248px;
  margin: 0 auto;
}
.header-logo {
  float: left;
  width: 96px;
  height: 28px;
  margin-top: 10px;
  background: url(../images/logo_white.svg) no-repeat;
}
.header-nav {
  float: left;
  padding: 10px 22px 0 20px;
}
.header-nav .item {
  float: left;
  line-height: 28px;
  margin-right: 26px;
  color: rgba(255, 255, 255, .85);
}
.header-nav .item-cur,
.header-nav .item:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header-nav .new-icon {
  position: relative;
  margin-right: 20px;
}
.header-nav .new-icon i {
  display: inline-block;
  width: 30px;
  height: 14px;
  margin-left: 7px;
  margin-bottom: 4px;
  vertical-align: middle;
  background: url(../images/header_new.svg) no-repeat;
}
.header-nav .nav-more {
  position: relative;
  float: left;
  width: 24px;
  height: 28px;
  background: url(../images/page_icons.svg) no-repeat -50px -558px;
}
.header-nav .nav-more__hover {
  display: none;
  position: absolute;
  z-index: 999;
  left: 270px;
  top: 60px;
  width: 310px;
  height: 270px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
.header-nav .nav-more__hover:after {
  content: "";
  position: absolute;
  left: 131px;
  top: -9px;
  width: 18px;
  height: 10px;
  background: url(../images/header_arrow.png) no-repeat;
}
.header-nav .nav-more__hover .wrapper {
  padding: 0 20px;
}
.header-nav .nav-more__hover .top-part {
  height: 54px;
  line-height: 54px;
  font-size: 0;
}
.header-nav .nav-more__hover .top-part a,
.header-nav .nav-more__hover .middle-part a,
.header-nav .nav-more__hover .bottom-part a {
  display: inline-block;
}
.header-nav .nav-more__hover .top-part a {
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
.header-nav .nav-more__hover .top-part a:nth-child(1),
.header-nav .nav-more__hover .top-part a:nth-child(2) {
  width: 100px;
}
.header-nav .nav-more__hover .top-part a:hover {
  color: #c90000;
}
.header-nav .nav-more__hover .middle-part {
  padding: 16px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.header-nav .nav-more__hover .middle-part a {
  width: 50%;
  line-height: 26px;
  font-size: 14px;
}
.header-nav .nav-more__hover .middle-part b {
  font-weight: 700;
}
.header-nav .nav-more__hover .bottom-part {
  position: relative;
  padding-top: 8px;
  padding-left: 30px;
  font-size: 0;
}
.header-nav .nav-more__hover .bottom-part .pin-icon {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 26px;
  height: 26px;
  background-position: 7px -302px;
  border: 1px solid #ededed;
}
.header-nav .nav-more__hover .bottom-part .pin-icon:hover {
  background-position: -43px -302px;
}
.header-nav .nav-more__hover .bottom-part a {
  line-height: 28px;
  margin: 0 8px;
  color: #999;
  font-size: 14px;
}
.header-nav .nav-more__hover .bottom-part span {
  display: inline-block;
  line-height: 28px;
  color: #999;
  font-size: 14px;
}
.header-user {
  float: right;
  margin-top: 8px;
}
.header-user .register,
.header-user .login {
  float: left;
  width: 52px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-left: 10px;
  color: #fff;
  border-radius: 2px;
}
.header-user .register:hover,
.header-user .login:hover {
  text-decoration: none;
}
.header-user .register {
  background-color: rgba(201,0,0,.6);
  border: 1px solid transparent;
}
.header-user .register:hover {
  background-color: rgba(201,0,0,.9);
}
.header-user .login {
  border: 1px solid rgba(255, 255, 255, .8);
  box-sizing: border-box;
}
.header-user .login:hover {
  color: #444;
  background-color: #fff;
}
.header-top .search {
  position: absolute;
  display: none;
  left: 438px;
  top: 8px;
}
.header-top .search-text {
  width: 350px;
  height: 34px;margin-left: 400px;
  line-height: 34px;
  border: 1px solid #ddd;
  background-color: #fafafa;
}
.header-top .search-text:hover {
  border-color: #bbb;
  background-color: #fff;
}
.header-top .search-btn {
  width: 32px;
  height: 32px;
  background-position: 5px -93px;
}
.header .search-btn:hover {
  background-position: -45px -93px;
}
.header-top__fixed {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #fff;
}
.header-top__fixed .header-logo {
  background: url(../images/logo_red.svg) no-repeat;
}
.header-top__fixed .header-nav .item {
  color: #333;
}
.header-top__fixed .header-nav .item-cur,
.header-top__fixed .header-nav .item:hover {
  color: #c90000;
}
.header-top__fixed .nav-more {
  background-position: 0 -248px;
}
.header-top__fixed .header-user .register {
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
}
.header-top__fixed .header-user .register:hover {
  background: linear-gradient( #F45D68, #E54646);
}
.header-top__fixed .header-user .login {
  color: #333;
  background: linear-gradient( #FAFAFA, #F2F2F2);
  border-color: #D9D9D9;
}
.header-top__fixed .header-user .login:hover {
  background: linear-gradient(#FFF, #F7F7F7);
  border-color: #ccc;
}
.header-top__fixed .search {
  display: block;
}
.banner {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 558px;
  margin-left: -279px;
}
.banner-titlte {
  width: 100%;
  text-align: center;
}
.banner-titlte img {}
.banner .search {
  margin-top: 40px;
}
.banner .search-text {
  width: 558px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .15);
}
.banner .search:hover .search-text {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .3);
}
.banner .search-btn {
  width: 40px;
  height: 36px;
  background: url(../images/icon-search.svg) no-repeat 9px 7px;
}
.banner .search:hover .search-btn {
  background-position: 9px -43px;
}
.banner .search-hot {
  width: 100%;
  line-height: 38px;
  text-align: center;
  color: #ddd;
}
.banner .search-hot a {
  display: inline;
  color: #fff;
}
.header-bg__info {
  position: absolute;
  right: 50px;
  bottom: 0;
  line-height: 56px;
  color: #fff;
}
.header-bg__info a {
  display: inline;
  color: rgba(255, 255, 255, .85);
}
.header-bg__info a:hover {
  color: #fff;
}


/* ====== main ====== */
.recommend-line,
.getMore-line {
  position: relative;
  padding: 20px 0;
}
.recommend-line:before,
.recommend-line:after,
.getMore-line:before,
.getMore-line:after {
  content: "";
  position: absolute;
  top: 28px;
  width: 44%;
  border-top: 1px solid #ededed;
}
.recommend-line:before,
.getMore-line:before {
  left: 0;
}
.recommend-line:after,
.getMore-line:after {
  right: 0;
}
.recommend-line span {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #999;
}
.getMore-line:before,
.getMore-line:after {
  width: 22%;
  top: 38px;
}
.getMore-line a {
  display: block;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  width: 49%;
  color: #999;
  background-color: #f7f7f7;
}
.getMore-line a:hover {
  text-decoration: none;
}
.main {
  padding-bottom: 42px;
}
.main-inner {
  width: 1248px;
  margin: 0 auto;
}
.main-list__wrapper {
  margin-right: -16px;
}
.main-list__wrapper a {
  position: relative;
  overflow: hidden;
  float: left;
  width: 164px;
  height: 70px;
  margin-right: 16px;
  border-radius: 5px;
}
.main-list__wrapper img {
  opacity: .9;
}
.main-list__wrapper a:hover img {
  opacity: 1;
}
.main-list__wrapper span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.main-waterfall__wrapper {}
.main-waterfall__row {
  margin-bottom: 4px;
}
.waterfall-box {
  position: relative;
  float: left;
  width: 308px;
  height: 308px;
  margin-right: 4px;
}
.waterfall-imgbox {}
.waterfall-imgbox img {
  width: 100%;
  height: 100%;
}
.waterfall-imgbox a:hover img {
  opacity: .8;
}
.waterfall-info {
  position: relative;
  width: 100%;
  height: 152px;
  padding: 10px 16px;
  background-color: #fafafa;
  box-sizing: border-box;
}
.waterfall-info:hover {
  background-color: #f5f5f5;
}
.waterfall-info .title {
  position: absolute;
  width: 80px;
  height: 40px;
  padding: 0 20px 5px;
  border-bottom: 1px solid #ededed;
  background: url(../images/box_title_sprite.svg) no-repeat;
}
.waterfall-info h3 {
  margin-top: 54px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.0125em;
}
.waterfall-info h3 a {
  overflow: hidden;
  height: 20px;
}
.waterfall-info h3 a:hover {
  text-decoration: none;
}
.waterfall-info p {
  line-height: 34px;
  color: #bbb;
  font-size: 12px;
}
.waterfall-info p span {
  margin-right: 10px;
}
.waterfall-info > span {
  color: #999;
}
.waterfall-info > span a {
  display: inline;
  padding-left: 6px;
  color: #0099ff;
}
.waterfall-info .info-arrow {
  position: absolute;
  top: 40%;
  width: 14px;
  height: 28px;
  background: url(../images/info_arrow.svg) no-repeat;
}
.waterfall-info .info-arrow__left {
  left: -14px;
}
.waterfall-info .info-arrow__right {
  z-index: 1;
  background-position: 0 -51px;
  right: -14px;
}
.waterfall-info__fl {
  margin-bottom: 4px;
  text-align: left;
}
.waterfall-info__top {
  text-align: left;
  margin-bottom: 4px;
}
.waterfall-info__bom {
  text-align: right;
}
.waterfall-info__bom .title {
  padding: 0 0 5px 20px;
  right: 16px;
  background-position: 25px 0;
}
.waterfall-collect {
  position: absolute;
  left: 0;
  bottom: 24px;
}
.waterfall-collect .title {
  float: left;
  width: 30px;
  height: 56px;
  background: url(../images/box_title_sprite.svg) no-repeat;
  background-position: -236px 7px;
  background-color: rgba(50,50,50,.4);
}
.waterfall-collect .info {
  float: left;
  width: 148px;
  height: 56px;
  text-align: center;
  background-color: rgba(0,0,0,.4);
}
.waterfall-collect .info h4 {
  line-height: 34px;
}
.waterfall-collect .info h4 a {
  display: inline;
  color: #fff;
}
.waterfall-collect .info h4 a:hover {
  color: #0099ff;
  text-decoration: none;
}
.waterfall-collect .info p {

}
.waterfall-collect .info span {
  margin-right: 10px;
  color: #bbb;
  font-size: 12px;
}
.main-category {}
.main-category .head {
  margin-bottom: 22px;
  padding-bottom: 6px;
  border-bottom: 2px solid #ededed;
}
.main-category .head span {
  float: left;
  font-size: 16px;
}
.main-category .head a {
  float: right;
  color: #0099ff;
  font-size: 16px;
}
.main-category__group {
  width: 20%;
  float: left;
}
.main-category__group .item {
  height: 24px;
  line-height: 24px;
}
.main-category__group .item a {}


/* ====== footer ====== */
.footer {
  padding-top: 25px;
  background-color: #333;
}
.footer-column__wrapper {
  position: relative;
  width: 1248px;
  margin: 0 auto;
  font-size: 0;
}
.footer-column {
  display: inline-block;
  width: 200px;
  height: 162px;
  vertical-align: top;
}
.footer-column a {
  line-height: 32px;
  color: #bbb;
  font-size: 14px;
}
.footer-column a:hover {
  color: #ededed;
}
.footer-column .title {
  font-size: 16px;
  color: #ddd;
}
.footer-followus {
  position: absolute;
  right: 0;
  width: 278px;
  height: 162px;
  padding-left: 30px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}
.footer-followus a.weixin {
  position: relative;
}
.footer-followus .orcode {
  display: none;
  position: absolute;
  right: 30px;
  bottom: 15px;
}
.footer-followus a.weixin:hover .orcode {
  display: block;
}
.footer-copyright {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #999;
  background-color: #000;
}
.footer-copyright .divider {
  display: inline-block;
  margin: 0 8px;
  color: #555;
}
.footer-copyright a {
  display: inline;
  color: #999;
}

/* ====== elevator ====== */
.elevator-wrap {
  position: fixed;
  z-index: 999;
  right: 15px;
  bottom: 10px;
}
#elevator,
#plus {
  width: 40px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background: rgba(0,0,0,.6) url(../images/elevator_icon.png) no-repeat;
  border-radius: 2px;
}
#elevator:hover,
#plus:hover {
  background-color: rgba(0,0,0,.7);
}
#elevator {
  background-position: 8px 6px;
  margin-bottom: 6px;
}
#plus {
  background-position: 8px -34px;
}
#plus_popup {
  display: none;
  position: absolute;
  right: 50px;
  bottom: 0;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background-color: #fff;
  border-radius: 2px;
}
#plus_popup:after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 14px;
  width: 6px;
  height: 11px;
  background: url(../images/plus_arrow.png) no-repeat;
}
#plus_popup a {
  display: inline-block;
  width: 142px;
  height: 38px;
  line-height: 38px;
  color: #333;
}
#plus_popup a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}
#plus_popup i {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 16px;
  margin-right: 12px;
  background: url(../images/plus_icons.svg) no-repeat;
}
#plus_popup i.icon-upload {
  background-position: 0 -480px;
}
#plus_popup i.icon-board {
  background-position: 0 -520px;
}
#plus_popup i.icon-tool {
  background-position: 0 -80px;
}

/* ====== user ====== */
.user {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
.user-inner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
  width: 520px;
  margin-left: -260px;
  padding: 30px 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border-radius: 4px;
}
.user .login-logo {
  display: block;
  width: 106px;
  height: 36px;
  margin: 0 auto;
}
.user .register {
  height: 200px;
}
.user .login {
  height: 282px;
}
.user .holder {
  width: 286px;
  margin: 0 auto;
}
.user .register .holder {
  margin-top: 30px;
}
.user .with-line {
  position: relative;
  height: 16px;
}
.user .with-line:before,
.user .with-line:after {
  content: "";
  position: absolute;
  top: 7px;
  width: 50px;
  border-top: 1px solid #ededed;
}
.user .with-line:before {
  left: 0;
}
.user .with-line:after {
  right: 0;
}
.user .with-line span {
  display: block;
  text-align: center;
  color: #999;
  font-size: 16px;
}
.user .register .buttons {
  width: 336px;
  padding: 22px 0;
  font-size: 0;
  margin-left: -25px;
}
.user .register .buttons a {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 10px;
  background: url(../images/login_icons.svg) no-repeat;
}
.user .register .buttons a.weibo {
  background-position: 0 0;
}
.user .register .buttons a.weibo:hover {
  background-position: 0 -80px;
}
.user .register .buttons a.qq {
  background-position: -80px 0;
}
.user .register .buttons a.qq:hover {
  background-position: -80px -80px;
}
.user .register .buttons a.weixin {
  background-position: -320px 0;
}
.user .register .buttons a.weixin:hover {
  background-position: -320px -80px;
}
.user .register .buttons a.douban {
  background-position: -160px 0;
}
.user .register .buttons a.douban:hover {
  background-position: -160px -80px;
}
.user .register a {
  color: #0099ff;
}
.user .register .use-email {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 35px;
}
.user .register .switch-login {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.user .register .switch-login a {
  display: inline-block;
}
.user .login {
  margin-top: 20px;
  margin-right: -10px;
}
.user .login .buttons {
  margin: 15px 0 20px;
  font-size: 0;
}
.user .login .buttons a {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background: url(../images/login_icons_s.svg) no-repeat;
} 
.user .login .buttons a.weibo {
  background-position: 0 0;
}
.user .login .buttons a.weibo:hover {
  background-position: 0 -80px;
}
.user .login .buttons a.qq {
  background-position: -80px 0;
}
.user .login .buttons a.qq:hover {
  background-position: -80px -80px;
}
.user .login .buttons a.weixin {
  background-position: -160px 0;
}
.user .login .buttons a.weixin:hover {
  background-position: -160px -80px;
}
.user .login .buttons a.douban {
  background-position: -240px 0;
}
.user .login .buttons a.douban:hover {
  background-position: -240px -80px;
}
.user .login .buttons a.renren {
  margin: 0;
  background-position: -320px 0;
}
.user .login .buttons a.renren:hover {
  background-position: -320px -80px;
}
.user .mail-login {
  margin: 16px 0 12px;
}
.user .mail-login input {
  margin-bottom: 10px;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
  color: #777;
  background-color: #FCFCFC;
  font-size: 16px;
}
.user .mail-login input:focus {
  background-color: #fff;
}
.user .mail-login .login-up {
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
  border: 1px solid #C90000;
  border-radius: 3px;
}
.user .mail-login .login-up:hover {
  text-decoration: none;
  background: linear-gradient( #F45D68, #E54646);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.1);
}
.user .login .switch-register {}
.user .login .switch-register a {
  display: inline;
  color: #0099ff;
}
.user .login .switch-register a:hover {}
.user .login .switch-register .forget {
  float: left;
}
.user .login .switch-register .go-register {
  float: right;
}
.user .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.user .close span {
  position: relative;
  left: 8px;
  top: 6px;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/user_close.png) no-repeat;
}
.user .close span:hover {
  background-position: 0 -30px;
}