/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  /* line 3, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.65);
    -ms-transform: scaleY(0.65);
    -webkit-transform: scaleY(0.65);
    transform: scaleY(0.65);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  /* line 11, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5) {
  /* line 19, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  /* line 27, ../sass/border-1px/_media.scss */
  .border-1px::after {
    -moz-transform: scaleY(0.33);
    -ms-transform: scaleY(0.33);
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
/* line 15, ../sass/centermenu.scss */
.cpt-dw-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 26, ../sass/centermenu.scss */
.cpt-selectCenterMenu {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  width: 320px;
  height: auto;
  background: white;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 11111;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 39, ../sass/centermenu.scss */
.cpt-selectCenterMenu .li-selectCenterMenu {
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 46, ../sass/centermenu.scss */
.cpt-selectCenterMenu .li-selectCenterMenu:active {
  background: #eee;
}
/* line 50, ../sass/centermenu.scss */
.cpt-selectCenterMenu .li-selectCenterMenu.border-1px {
  position: relative;
}
/* line 3, ../sass/border-1px/_mixin.scss */
.cpt-selectCenterMenu .li-selectCenterMenu.border-1px:after {
  display: block;
  width: 100%;
  position: absolute;
  background: rgba(17, 27, 37, 0.1) !important;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(17, 27, 37, 0.1) !important;
  content: '';
}
/* line 16, ../sass/border-1px/_mixin.scss */
.cpt-selectCenterMenu .li-selectCenterMenu:last-child:after {
  display: none;
}
