<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bhusk.black.mapper.NoticeMapper">

    <select id="getNoticeDetail" parameterType="com.bhusk.black.model.Notice" resultType="com.bhusk.black.model.Notice">
        select id,title,enable,createDate,content from notice
        where 1 = 1
        <if test="enable !=null ">
            and enable = #{enable}
        </if>
        AND id = #{id}
    </select>

    <select id="getNoticeAll" parameterType="com.bhusk.black.model.Notice" resultType="com.bhusk.black.model.Notice">
        select id,title,enable,createDate,content from notice
        where 1 = 1
        <if test="enable !=null ">
            and enable = #{enable}
        </if>
        ORDER by id DESC
    </select>


</mapper>